.commentscontainer {
  padding: 20px;
}

.far {
  margin-right: 10px;
  font-size: 24px;
  color: dimgrey;
}

.likes {
  font-weight: 500;
}

.handlename {
  font-weight: 900;
}

.timestamp {
  color: grey;
}

textarea {
  resize: none;
  outline: none;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid whitesmoke;
  font-size: 14px;
}
