.loginFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 800px;
  width: 400px;
  margin: auto;
}

.loginFormContainer p {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.loginForm input {
  width: 380px;
  height: 50px;
  margin: 10px;
  padding: 0 10px;
  box-sizing: border-box;
  font-size: 18px;
  outline: none;
}

.loginBtn {
  margin: 10px;
  height: 50px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  color: white;
  background-color: mediumseagreen;
  cursor: pointer;
}
