.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: floralwhite;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

table {
  display: table;
  width: 300px;
  height: 250px;
  margin: 20px;
  padding: 0 20px;
  border: 1px solid grey;
  border-radius: 30px;
  background-color: rgb(64, 64, 64, 0.5);
}

tbody {
  display: table-cell;
  width: 50%;
}

tr {
  display: block;
}

td {
  display: block;
  padding: 5px 0;
}
